<form class="conjugation-split">
  <select id="select-conjugation" name="some-name">
    <option value="present-or-future" selected>
      <% if @view_model.parse_result.conjugation.fetch(:present).present? %>
        Present
      <% elsif @view_model.parse_result.conjugation.fetch(:future).present? %>
        Future
      <% else %>
        Error
      <% end %>
    </option>
    <option value="past-masculine">Past Masculine</option>
    <option value="past-feminine">Past Feminine</option>
    <option value="past-neuter">Past Neuter</option>
    <option value="imperative">Imperative</option>
  </select>

  <div class="conjugation-split-table" id="conjugation-present-or-future">
    <table>
      <tr>
        <th>ja</th>
        <% if @view_model.parse_result.conjugation.fetch(:present).present? %>
          <td><%= @view_model.parse_result.conjugation.fetch(:present)[0] %></td>
        <% end %>
        <% if @view_model.parse_result.conjugation.fetch(:future).present? %>
          <td><%= @view_model.parse_result.conjugation.fetch(:future)[0] %></td>
        <% end %>
      </tr>

      <tr>
        <th>ty</th>
        <% if @view_model.parse_result.conjugation.fetch(:present).present? %>
          <td><%= @view_model.parse_result.conjugation.fetch(:present)[1] %></td>
        <% end %>
        <% if @view_model.parse_result.conjugation.fetch(:future).present? %>
          <td><%= @view_model.parse_result.conjugation.fetch(:future)[1] %></td>
        <% end %>
      </tr>

      <tr>
        <th>on(a/o)</th>
        <% if @view_model.parse_result.conjugation.fetch(:present).present? %>
          <td><%= @view_model.parse_result.conjugation.fetch(:present)[2] %></td>
        <% end %>
        <% if @view_model.parse_result.conjugation.fetch(:future).present? %>
          <td><%= @view_model.parse_result.conjugation.fetch(:future)[2] %></td>
        <% end %>
      </tr>

      <tr>
        <th>my</th>
        <% if @view_model.parse_result.conjugation.fetch(:present).present? %>
          <td><%= @view_model.parse_result.conjugation.fetch(:present)[3] %></td>
        <% end %>
        <% if @view_model.parse_result.conjugation.fetch(:future).present? %>
          <td><%= @view_model.parse_result.conjugation.fetch(:future)[3] %></td>
        <% end %>
      </tr>

      <tr>
        <th>wy</th>
        <% if @view_model.parse_result.conjugation.fetch(:present).present? %>
          <td><%= @view_model.parse_result.conjugation.fetch(:present)[4] %></td>
        <% end %>
        <% if @view_model.parse_result.conjugation.fetch(:future).present? %>
          <td><%= @view_model.parse_result.conjugation.fetch(:future)[4] %></td>
        <% end %>
      </tr>

      <tr>
        <th>oni/one</th>
        <% if @view_model.parse_result.conjugation.fetch(:present).present? %>
          <td><%= @view_model.parse_result.conjugation.fetch(:present)[5] %></td>
        <% end %>
        <% if @view_model.parse_result.conjugation.fetch(:future).present? %>
          <td><%= @view_model.parse_result.conjugation.fetch(:future)[5] %></td>
        <% end %>
      </tr>
    </table>
  </div>

  <div class="conjugation-split-table" id="conjugation-past-masculine">
    <table>
      <tr>
        <th>ja</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:masculine)[0] %></td>
      </tr>

      <tr>
        <th>ty</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:masculine)[1] %></td>
      </tr>

      <tr>
        <th>on</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:masculine)[2] %></td>
      </tr>

      <tr>
        <th>my</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:masculine)[3] %></td>
      </tr>

      <tr>
        <th>wy</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:masculine)[4] %></td>
      </tr>

      <tr>
        <th>oni</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:masculine)[5] %></td>
      </tr>
    </table>
  </div>

  <div class="conjugation-split-table" id="conjugation-past-feminine">
    <table>
      <tr>
        <th>ja</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:feminine)[0] %></td>
      </tr>

      <tr>
        <th>ty</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:feminine)[1] %></td>
      </tr>

      <tr>
        <th>ona</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:feminine)[2] %></td>
      </tr>

      <tr>
        <th>my</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:feminine)[3] %></td>
      </tr>

      <tr>
        <th>wy</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:feminine)[4] %></td>
      </tr>

      <tr>
        <th>one</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:feminine)[5] %></td>
      </tr>
    </table>
  </div>

  <div class="conjugation-split-table" id="conjugation-past-neuter">
    <table>
      <tr>
        <th>ja</th>
        <td></td>
      </tr>

      <tr>
        <th>ty</th>
        <td></td>
      </tr>

      <tr>
        <th>ono</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:neuter)[2] %></td>
      </tr>

      <tr>
        <th>my</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:neuter)[3] %></td>
      </tr>

      <tr>
        <th>wy</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:neuter)[4] %></td>
      </tr>

      <tr>
        <th>one</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:neuter)[5] %></td>
      </tr>
    </table>
  </div>

  <div class="conjugation-split-table" id="conjugation-imperative">
    <table>
      <tr>
        <th>ja</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:imperative)[0] %></td>
      </tr>

      <tr>
        <th>ty</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:imperative)[1] %></td>
      </tr>

      <tr>
        <th>on(a/o)</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:imperative)[2] %></td>
      </tr>

      <tr>
        <th>my</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:imperative)[3] %></td>
      </tr>

      <tr>
        <th>wy</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:imperative)[4] %></td>
      </tr>

      <tr>
        <th>oni/one</th>
        <td><%= @view_model.parse_result.conjugation.fetch(:imperative)[5] %></td>
      </tr>
    </table>
  </div>
</form>

<div class="conjugation-unified">
  <table>
    <tr>
      <th>ja</th>
      <% if @view_model.parse_result.conjugation.fetch(:present).present? %>
        <td><%= @view_model.parse_result.conjugation.fetch(:present)[0] %></td>
      <% end %>
      <% if @view_model.parse_result.conjugation.fetch(:future).present? %>
        <td><%= @view_model.parse_result.conjugation.fetch(:future)[0] %></td>
      <% end %>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:masculine)[0] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:feminine)[0] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:neuter)[0] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:imperative)[0] %></td>
    </tr>

    <tr>
      <th>ty</th>
      <% if @view_model.parse_result.conjugation.fetch(:present).present? %>
        <td><%= @view_model.parse_result.conjugation.fetch(:present)[1] %></td>
      <% end %>
      <% if @view_model.parse_result.conjugation.fetch(:future).present? %>
        <td><%= @view_model.parse_result.conjugation.fetch(:future)[1] %></td>
      <% end %>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:masculine)[1] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:feminine)[1] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:neuter)[1] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:imperative)[1] %></td>
    </tr>

    <tr>
      <th>on(a/o)</th>
      <% if @view_model.parse_result.conjugation.fetch(:present).present? %>
        <td><%= @view_model.parse_result.conjugation.fetch(:present)[2] %></td>
      <% end %>
      <% if @view_model.parse_result.conjugation.fetch(:future).present? %>
        <td><%= @view_model.parse_result.conjugation.fetch(:future)[2] %></td>
      <% end %>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:masculine)[2] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:feminine)[2] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:neuter)[2] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:imperative)[2] %></td>
    </tr>

    <tr>
      <th>my</th>
      <% if @view_model.parse_result.conjugation.fetch(:present).present? %>
        <td><%= @view_model.parse_result.conjugation.fetch(:present)[3] %></td>
      <% end %>
      <% if @view_model.parse_result.conjugation.fetch(:future).present? %>
        <td><%= @view_model.parse_result.conjugation.fetch(:future)[3] %></td>
      <% end %>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:masculine)[3] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:feminine)[3] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:neuter)[3] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:imperative)[3] %></td>
    </tr>

    <tr>
      <th>wy</th>
      <% if @view_model.parse_result.conjugation.fetch(:present).present? %>
        <td><%= @view_model.parse_result.conjugation.fetch(:present)[4] %></td>
      <% end %>
      <% if @view_model.parse_result.conjugation.fetch(:future).present? %>
        <td><%= @view_model.parse_result.conjugation.fetch(:future)[4] %></td>
      <% end %>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:masculine)[4] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:feminine)[4] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:neuter)[4] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:imperative)[4] %></td>
    </tr>

    <tr>
      <th>oni/one</th>
      <% if @view_model.parse_result.conjugation.fetch(:present).present? %>
        <td><%= @view_model.parse_result.conjugation.fetch(:present)[5] %></td>
      <% end %>
      <% if @view_model.parse_result.conjugation.fetch(:future).present? %>
        <td><%= @view_model.parse_result.conjugation.fetch(:future)[5] %></td>
      <% end %>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:masculine)[5] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:feminine)[5] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:past).fetch(:neuter)[5] %></td>
      <td><%= @view_model.parse_result.conjugation.fetch(:imperative)[5] %></td>
    </tr>
  </table>
</form>
