<form class="inflection-split">
  <select id="select-conjugation" class="inflection__select">
    <option value="present-or-future" selected>
      <% if @view_model.parse_result.conjugation.dig(:present).present? %>
        Present
      <% elsif @view_model.parse_result.conjugation.dig(:future).present? %>
        Future
      <% else %>
        Error
      <% end %>
    </option>
    <option value="past-masculine">Past Masculine</option>
    <option value="past-feminine">Past Feminine</option>
    <option value="past-neuter">Past Neuter</option>
    <option value="imperative">Imperative</option>
  </select>

  <div class="inflection-split-table" id="conjugation-present-or-future">
    <table class="inflection__table">
      <tr class="inflection__row">
        <th class="inflection__row-header" class="inflection__row-header">ja</th>
        <% if @view_model.parse_result.conjugation.dig(:present).present? %>
          <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:present, 0) %></td>
        <% end %>
        <% if @view_model.parse_result.conjugation.dig(:future).present? %>
          <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:future, 0) %></td>
        <% end %>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">ty</th>
        <% if @view_model.parse_result.conjugation.dig(:present).present? %>
          <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:present, 1) %></td>
        <% end %>
        <% if @view_model.parse_result.conjugation.dig(:future).present? %>
          <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:future, 1) %></td>
        <% end %>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">on(a/o)</th>
        <% if @view_model.parse_result.conjugation.dig(:present).present? %>
          <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:present, 2) %></td>
        <% end %>
        <% if @view_model.parse_result.conjugation.dig(:future).present? %>
          <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:future, 2) %></td>
        <% end %>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">my</th>
        <% if @view_model.parse_result.conjugation.dig(:present).present? %>
          <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:present, 3) %></td>
        <% end %>
        <% if @view_model.parse_result.conjugation.dig(:future).present? %>
          <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:future, 3) %></td>
        <% end %>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">wy</th>
        <% if @view_model.parse_result.conjugation.dig(:present).present? %>
          <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:present, 4) %></td>
        <% end %>
        <% if @view_model.parse_result.conjugation.dig(:future).present? %>
          <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:future, 4) %></td>
        <% end %>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">oni/one</th>
        <% if @view_model.parse_result.conjugation.dig(:present).present? %>
          <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:present, 5) %></td>
        <% end %>
        <% if @view_model.parse_result.conjugation.dig(:future).present? %>
          <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:future, 5) %></td>
        <% end %>
      </tr>
    </table>
  </div>

  <div class="inflection-split-table" id="conjugation-past-masculine">
    <table class="inflection__table">
      <%= render "inflection_row", header: "ja", data: @view_model.parse_result.conjugation.dig(:past, :masculine, 0) %>
      <%= render "inflection_row", header: "ty", data: @view_model.parse_result.conjugation.dig(:past, :masculine, 1) %>
      <%= render "inflection_row", header: "on", data: @view_model.parse_result.conjugation.dig(:past, :masculine, 2) %>
      <%= render "inflection_row", header: "my", data: @view_model.parse_result.conjugation.dig(:past, :masculine, 3) %>
      <%= render "inflection_row", header: "wy", data: @view_model.parse_result.conjugation.dig(:past, :masculine, 4) %>
      <%= render "inflection_row", header: "oni", data: @view_model.parse_result.conjugation.dig(:past, :masculine, 5) %>
    </table>
  </div>

  <div class="inflection-split-table" id="conjugation-past-feminine">
    <table class="inflection__table">
      <%= render "inflection_row", header: "ja", data: @view_model.parse_result.conjugation.dig(:past, :feminine, 0) %>
      <%= render "inflection_row", header: "ty", data: @view_model.parse_result.conjugation.dig(:past, :feminine, 1) %>
      <%= render "inflection_row", header: "ona", data: @view_model.parse_result.conjugation.dig(:past, :feminine, 2) %>
      <%= render "inflection_row", header: "my", data: @view_model.parse_result.conjugation.dig(:past, :feminine, 3) %>
      <%= render "inflection_row", header: "wy", data: @view_model.parse_result.conjugation.dig(:past, :feminine, 4) %>
      <%= render "inflection_row", header: "one", data: @view_model.parse_result.conjugation.dig(:past, :feminine, 5) %>
    </table>
  </div>

  <div class="inflection-split-table" id="conjugation-past-neuter">
    <table class="inflection__table">
      <%= render "inflection_row", header: "ja", data: "" %>
      <%= render "inflection_row", header: "ty", data: "" %>
      <%= render "inflection_row", header: "ono", data: @view_model.parse_result.conjugation.dig(:past, :neuter, 2) %>
      <%= render "inflection_row", header: "my", data: @view_model.parse_result.conjugation.dig(:past, :neuter, 3) %>
      <%= render "inflection_row", header: "wy", data: @view_model.parse_result.conjugation.dig(:past, :neuter, 4) %>
      <%= render "inflection_row", header: "one", data: @view_model.parse_result.conjugation.dig(:past, :neuter, 5) %>
    </table>
  </div>

  <div class="inflection-split-table" id="conjugation-imperative">
    <table class="inflection__table">
      <%= render "inflection_row", header: "ja", data: @view_model.parse_result.conjugation.dig(:imperative, 0) %>
      <%= render "inflection_row", header: "ty", data: @view_model.parse_result.conjugation.dig(:imperative, 1) %>
      <%= render "inflection_row", header: "on(a/o)", data: @view_model.parse_result.conjugation.dig(:imperative, 2) %>
      <%= render "inflection_row", header: "my", data: @view_model.parse_result.conjugation.dig(:imperative, 3) %>
      <%= render "inflection_row", header: "wy", data: @view_model.parse_result.conjugation.dig(:imperative, 4) %>
      <%= render "inflection_row", header: "oni/one", data: @view_model.parse_result.conjugation.dig(:imperative, 5) %>
    </table>
  </div>
</form>

<div class="inflection-unified">
  <table class="inflection__table">
    <tr class="inflection__row">
      <th class="inflection__row-header">ja</th>
      <% if @view_model.parse_result.conjugation.dig(:present).present? %>
        <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:present, 0) %></td>
      <% end %>
      <% if @view_model.parse_result.conjugation.dig(:future).present? %>
        <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:future, 0) %></td>
      <% end %>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :masculine, 0) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :feminine, 0) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :neuter, 0) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:imperative, 0) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">ty</th>
      <% if @view_model.parse_result.conjugation.dig(:present).present? %>
        <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:present, 1) %></td>
      <% end %>
      <% if @view_model.parse_result.conjugation.dig(:future).present? %>
        <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:future, 1) %></td>
      <% end %>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :masculine, 1) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :feminine, 1) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :neuter, 1) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:imperative, 1) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">on(a/o)</th>
      <% if @view_model.parse_result.conjugation.dig(:present).present? %>
        <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:present, 2) %></td>
      <% end %>
      <% if @view_model.parse_result.conjugation.dig(:future).present? %>
        <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:future, 2) %></td>
      <% end %>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :masculine, 2) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :feminine, 2) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :neuter, 2) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:imperative, 2) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">my</th>
      <% if @view_model.parse_result.conjugation.dig(:present).present? %>
        <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:present, 3) %></td>
      <% end %>
      <% if @view_model.parse_result.conjugation.dig(:future).present? %>
        <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:future, 3) %></td>
      <% end %>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :masculine, 3) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :feminine, 3) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :neuter, 3) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:imperative, 3) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">wy</th>
      <% if @view_model.parse_result.conjugation.dig(:present).present? %>
        <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:present, 4) %></td>
      <% end %>
      <% if @view_model.parse_result.conjugation.dig(:future).present? %>
        <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:future, 4) %></td>
      <% end %>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :masculine, 4) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :feminine, 4) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :neuter, 4) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:imperative, 4) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">oni/one</th>
      <% if @view_model.parse_result.conjugation.dig(:present).present? %>
        <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:present, 5) %></td>
      <% end %>
      <% if @view_model.parse_result.conjugation.dig(:future).present? %>
        <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:future, 5) %></td>
      <% end %>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :masculine, 5) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :feminine, 5) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:past, :neuter, 5) %></td>
      <td class="inflection__row-data"><%= @view_model.parse_result.conjugation.dig(:imperative, 5) %></td>
    </tr>
  </table>
</form>
