<% if declination.fetch(:singular).fetch(:masculine_personal, nil).nil? %>
  <form class="declination-split">
    <input type="radio" class="toggle" id="toggle-singular" name="declination" value="singular" checked>
    <label id="label-singular" class="label" for="toggle-singular">Singular</label>
    <input type="radio" class="toggle" id="toggle-plural" name="declination" value="plural">
    <label id="label-plural" class="label" for="toggle-plural">Plural</label>

    <table class="declination-split-table" id="declination-singular">
      <tr>
        <th>nominative</th>
        <td><%= declination.fetch(:singular).fetch(:nominative) %></td>
      </tr>

      <tr>
        <th>genitive</th>
        <td><%= declination.fetch(:singular).fetch(:genitive) %></td>
      </tr>

      <tr>
        <th>dative</th>
        <td><%= declination.fetch(:singular).fetch(:dative) %></td>
      </tr>

      <tr>
        <th>accusative</th>
        <td><%= declination.fetch(:singular).fetch(:accusative) %></td>
      </tr>

      <tr>
        <th>instrumental</th>
        <td><%= declination.fetch(:singular).fetch(:instrumental) %></td>
      </tr>

      <tr>
        <th>locative</th>
        <td><%= declination.fetch(:singular).fetch(:locative) %></td>
      </tr>

      <tr>
        <th>vocative</th>
        <td><%= declination.fetch(:singular).fetch(:vocative) %></td>
      </tr>
    </table>

    <table class="declination-split-table" id="declination-plural">
      <tr>
        <th>nominative</th>
        <td><%= declination.fetch(:plural).fetch(:nominative) %></td>
      </tr>

      <tr>
        <th>genitive</th>
        <td><%= declination.fetch(:plural).fetch(:genitive) %></td>
      </tr>

      <tr>
        <th>dative</th>
        <td><%= declination.fetch(:plural).fetch(:dative) %></td>
      </tr>

      <tr>
        <th>accusative</th>
        <td><%= declination.fetch(:plural).fetch(:accusative) %></td>
      </tr>

      <tr>
        <th>instrumental</th>
        <td><%= declination.fetch(:plural).fetch(:instrumental) %></td>
      </tr>

      <tr>
        <th>locative</th>
        <td><%= declination.fetch(:plural).fetch(:locative) %></td>
      </tr>

      <tr>
        <th>vocative</th>
        <td><%= declination.fetch(:plural).fetch(:vocative) %></td>
      </tr>
    </table>
  </form>

  <table class="declination-unified">
    <tr>
      <th>nominative</th>
      <td><%= declination.fetch(:singular).fetch(:nominative) %></td>
      <td><%= declination.fetch(:plural).fetch(:nominative) %></td>
    </tr>

    <tr>
      <th>genitive</th>
      <td><%= declination.fetch(:singular).fetch(:genitive) %></td>
      <td><%= declination.fetch(:plural).fetch(:genitive) %></td>
    </tr>

    <tr>
      <th>dative</th>
      <td><%= declination.fetch(:singular).fetch(:dative) %></td>
      <td><%= declination.fetch(:plural).fetch(:dative) %></td>
    </tr>

    <tr>
      <th>accusative</th>
      <td><%= declination.fetch(:singular).fetch(:accusative) %></td>
      <td><%= declination.fetch(:plural).fetch(:accusative) %></td>
    </tr>

    <tr>
      <th>instrumental</th>
      <td><%= declination.fetch(:singular).fetch(:instrumental) %></td>
      <td><%= declination.fetch(:plural).fetch(:instrumental) %></td>
    </tr>

    <tr>
      <th>locative</th>
      <td><%= declination.fetch(:singular).fetch(:locative) %></td>
      <td><%= declination.fetch(:plural).fetch(:locative) %></td>
    </tr>

    <tr>
      <th>vocative</th>
      <td><%= declination.fetch(:singular).fetch(:vocative) %></td>
      <td><%= declination.fetch(:plural).fetch(:vocative) %></td>
    </tr>
  </table>

<% else %>
  <form class="declination-split">
    <input type="radio" class="toggle" id="toggle-singular-masculine-personal" name="declination" value="singular-masculine-personal" checked>
    <label id="label-singular-masculine-personal" class="label" for="toggle-singular-masculine-personal">Singular Masculine Personal</label>

    <br />
    <br />

    <input type="radio" class="toggle" id="toggle-singular-masculine-inanimate" name="declination" value="singular-masculine-inanimate">
    <label id="label-singular-masculine-inanimate" class="label" for="toggle-singular-masculine-inanimate">Singular Masculine Inanimate</label>

    <br />
    <br />

    <input type="radio" class="toggle" id="toggle-singular-feminine" name="declination" value="singular-feminine">
    <label id="label-singular-feminine" class="label" for="toggle-singular-feminine">Singular Feminine</label>

    <br />
    <br />

    <input type="radio" class="toggle" id="toggle-singular-neuter" name="declination" value="singular-neuter">
    <label id="label-singular-neuter" class="label" for="toggle-singular-neuter">Singular Neuter</label>

    <br />
    <br />

    <input type="radio" class="toggle" id="toggle-plural-masculine-personal" name="declination" value="plural-masculine-personal">
    <label id="label-plural-masculine-personal" class="label" for="toggle-plural-masculine-personal">Plural Masculine</label>

    <br />
    <br />

    <input type="radio" class="toggle" id="toggle-plural-non-masculine-personal" name="declination" value="plural-non-masculine-personal">
    <label id="label-plural-non-masculine-personal" class="label" for="toggle-plural-non-masculine-personal">Plural Non Masculine Personal</label>

    <table class="declination-split-table" id="declination-singular-masculine-personal">
      <tr>
        <th>nominative</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:nominative) %></td>
      </tr>

      <tr>
        <th>genitive</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:genitive) %></td>
      </tr>

      <tr>
        <th>dative</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:dative) %></td>
      </tr>

      <tr>
        <th>accusative</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:accusative) %></td>
      </tr>

      <tr>
        <th>instrumental</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:instrumental) %></td>
      </tr>

      <tr>
        <th>locative</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:locative) %></td>
      </tr>

      <tr>
        <th>vocative</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:vocative) %></td>
      </tr>
    </table>

    <table class="declination-split-table" id="declination-singular-masculine-inanimate">
      <tr>
        <th>nominative</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:nominative) %></td>
      </tr>

      <tr>
        <th>genitive</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:genitive) %></td>
      </tr>

      <tr>
        <th>dative</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:dative) %></td>
      </tr>

      <tr>
        <th>accusative</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:accusative) %></td>
      </tr>

      <tr>
        <th>instrumental</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:instrumental) %></td>
      </tr>

      <tr>
        <th>locative</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:locative) %></td>
      </tr>

      <tr>
        <th>vocative</th>
        <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:vocative) %></td>
      </tr>
    </table>

    <table class="declination-split-table" id="declination-singular-feminine">
      <tr>
        <th>nominative</th>
        <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:nominative) %></td>
      </tr>

      <tr>
        <th>genitive</th>
        <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:genitive) %></td>
      </tr>

      <tr>
        <th>dative</th>
        <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:dative) %></td>
      </tr>

      <tr>
        <th>accusative</th>
        <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:accusative) %></td>
      </tr>

      <tr>
        <th>instrumental</th>
        <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:instrumental) %></td>
      </tr>

      <tr>
        <th>locative</th>
        <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:locative) %></td>
      </tr>

      <tr>
        <th>vocative</th>
        <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:vocative) %></td>
      </tr>
    </table>

    <table class="declination-split-table" id="declination-singular-neuter">
      <tr>
        <th>nominative</th>
        <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:nominative) %></td>
      </tr>

      <tr>
        <th>genitive</th>
        <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:genitive) %></td>
      </tr>

      <tr>
        <th>dative</th>
        <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:dative) %></td>
      </tr>

      <tr>
        <th>accusative</th>
        <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:accusative) %></td>
      </tr>

      <tr>
        <th>instrumental</th>
        <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:instrumental) %></td>
      </tr>

      <tr>
        <th>locative</th>
        <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:locative) %></td>
      </tr>

      <tr>
        <th>vocative</th>
        <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:vocative) %></td>
      </tr>
    </table>

    <table class="declination-split-table" id="declination-plural-masculine-personal">
      <tr>
        <th>nominative</th>
        <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:nominative) %></td>
      </tr>

      <tr>
        <th>genitive</th>
        <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:genitive) %></td>
      </tr>

      <tr>
        <th>dative</th>
        <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:dative) %></td>
      </tr>

      <tr>
        <th>accusative</th>
        <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:accusative) %></td>
      </tr>

      <tr>
        <th>instrumental</th>
        <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:instrumental) %></td>
      </tr>

      <tr>
        <th>locative</th>
        <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:locative) %></td>
      </tr>

      <tr>
        <th>vocative</th>
        <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:vocative) %></td>
      </tr>
    </table>

    <table class="declination-split-table" id="declination-plural-non-masculine-personal">
      <tr>
        <th>nominative</th>
        <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:nominative) %></td>
      </tr>

      <tr>
        <th>genitive</th>
        <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:genitive) %></td>
      </tr>

      <tr>
        <th>dative</th>
        <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:dative) %></td>
      </tr>

      <tr>
        <th>accusative</th>
        <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:accusative) %></td>
      </tr>

      <tr>
        <th>instrumental</th>
        <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:instrumental) %></td>
      </tr>

      <tr>
        <th>locative</th>
        <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:locative) %></td>
      </tr>

      <tr>
        <th>vocative</th>
        <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:vocative) %></td>
      </tr>
    </table>
  </form>

  <table class="declination-unified">
    <tr>
      <th>nominative</th>
      <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:nominative) %></td>
      <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:nominative) %></td>
      <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:nominative) %></td>
      <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:nominative) %></td>
      <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:nominative) %></td>
      <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:nominative) %></td>
    </tr>

    <tr>
      <th>genitive</th>
      <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:genitive) %></td>
      <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:genitive) %></td>
      <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:genitive) %></td>
      <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:genitive) %></td>
      <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:genitive) %></td>
      <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:genitive) %></td>
    </tr>

    <tr>
      <th>dative</th>
      <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:dative) %></td>
      <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:dative) %></td>
      <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:dative) %></td>
      <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:dative) %></td>
      <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:dative) %></td>
      <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:dative) %></td>
    </tr>

    <tr>
      <th>accusative</th>
      <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:accusative) %></td>
      <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:accusative) %></td>
      <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:accusative) %></td>
      <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:accusative) %></td>
      <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:accusative) %></td>
      <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:accusative) %></td>
    </tr>

    <tr>
      <th>instrumental</th>
      <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:instrumental) %></td>
      <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:instrumental) %></td>
      <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:instrumental) %></td>
      <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:instrumental) %></td>
      <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:instrumental) %></td>
      <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:instrumental) %></td>
    </tr>

    <tr>
      <th>locative</th>
      <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:locative) %></td>
      <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:locative) %></td>
      <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:locative) %></td>
      <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:locative) %></td>
      <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:locative) %></td>
      <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:locative) %></td>
    </tr>

    <tr>
      <th>vocative</th>
      <td><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:vocative) %></td>
      <td><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:vocative) %></td>
      <td><%= declination.fetch(:singular).fetch(:feminine).fetch(:vocative) %></td>
      <td><%= declination.fetch(:singular).fetch(:neuter).fetch(:vocative) %></td>
      <td><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:vocative) %></td>
      <td><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:vocative) %></td>
    </tr>
  </table>
<% end %>
