<% if declination.fetch(:singular).fetch(:masculine_personal, nil).nil? %>
  <form class="inflection-split">
    <input type="radio" class="toggle" id="toggle-singular" name="declination" value="singular" checked>
    <label id="label-singular" class="label" for="toggle-singular">Singular</label>
    <input type="radio" class="toggle" id="toggle-plural" name="declination" value="plural">
    <label id="label-plural" class="label" for="toggle-plural">Plural</label>

    <table class="inflection-split-table" id="declination-singular" class="inflection__table">
      <tr class="inflection__row">
        <th class="inflection__row-header">nominative</th>
        <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:nominative) %></td>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">genitive</th>
        <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:genitive) %></td>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">dative</th>
        <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:dative) %></td>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">accusative</th>
        <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:accusative) %></td>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">instrumental</th>
        <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:instrumental) %></td>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">locative</th>
        <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:locative) %></td>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">vocative</th>
        <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:vocative) %></td>
      </tr>
    </table>

    <table class="inflection-split-table" id="declination-plural" class="inflection__table">
      <tr class="inflection__row">
        <th class="inflection__row-header">nominative</th>
        <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:nominative) %></td>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">genitive</th>
        <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:genitive) %></td>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">dative</th>
        <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:dative) %></td>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">accusative</th>
        <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:accusative) %></td>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">instrumental</th>
        <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:instrumental) %></td>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">locative</th>
        <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:locative) %></td>
      </tr>

      <tr class="inflection__row">
        <th class="inflection__row-header">vocative</th>
        <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:vocative) %></td>
      </tr>
    </table>
  </form>

  <table class="inflection-unified" class="inflection__table">
    <tr class="inflection__row">
      <th class="inflection__row-header">nominative</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:nominative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:nominative) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">genitive</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:genitive) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:genitive) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">dative</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:dative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:dative) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">accusative</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:accusative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:accusative) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">instrumental</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:instrumental) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:instrumental) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">locative</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:locative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:locative) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">vocative</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:vocative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:vocative) %></td>
    </tr>
  </table>

<% else %>
  <form class="inflection-split">
    <select id="select-case" class="inflection__select">
      <option value="singular-masculine-personal" selected>Singular Masculine Personal</option>
      <option value="singular-masculine-inanimate">Singular Masculine Inanimate</option>
      <option value="singular-feminine">Singular Feminine</option>
      <option value="singular-neuter">Singular Neuter</option>
      <option value="plural-masculine-personal">Plural Masculine Personal</option>
      <option value="plural-other">Plural Other</option>
    </select>

    <div class="inflection-split-table" id="declination-singular-masculine-personal">
      <table class="inflection__table">
        <tr class="inflection__row">
          <th class="inflection__row-header">nominative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:nominative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">genitive</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:genitive) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">dative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:dative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">accusative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:accusative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">instrumental</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:instrumental) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">locative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:locative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">vocative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:vocative) %></td>
        </tr>
      </table>
    </div>

    <div class="inflection-split-table" id="declination-singular-masculine-inanimate">
      <table class="inflection__table">
        <tr class="inflection__row">
          <th class="inflection__row-header">nominative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:nominative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">genitive</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:genitive) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">dative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:dative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">accusative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:accusative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">instrumental</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:instrumental) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">locative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:locative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">vocative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:vocative) %></td>
        </tr>
      </table>
    </div>

    <div class="inflection-split-table" id="declination-singular-feminine">
      <table class="inflection__table">
        <tr class="inflection__row">
          <th class="inflection__row-header">nominative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:nominative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">genitive</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:genitive) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">dative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:dative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">accusative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:accusative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">instrumental</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:instrumental) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">locative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:locative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">vocative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:vocative) %></td>
        </tr>
      </table>
    </div>

    <div class="inflection-split-table" id="declination-singular-neuter">
      <table class="inflection__table">
        <tr class="inflection__row">
          <th class="inflection__row-header">nominative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:nominative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">genitive</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:genitive) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">dative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:dative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">accusative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:accusative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">instrumental</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:instrumental) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">locative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:locative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">vocative</th>
          <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:vocative) %></td>
        </tr>
      </table>
    </div>

    <div class="inflection-split-table" id="declination-plural-masculine-personal">
      <table class="inflection__table">
        <tr class="inflection__row">
          <th class="inflection__row-header">nominative</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:nominative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">genitive</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:genitive) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">dative</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:dative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">accusative</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:accusative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">instrumental</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:instrumental) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">locative</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:locative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">vocative</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:vocative) %></td>
        </tr>
      </table>
    </div>

    <div class="inflection-split-table" id="declination-plural-other">
      <table class="inflection__table">
        <tr class="inflection__row">
          <th class="inflection__row-header">nominative</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:nominative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">genitive</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:genitive) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">dative</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:dative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">accusative</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:accusative) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">instrumental</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:instrumental) %></td>
        </tr>

        <tr class="inflection__row">
          <th class="inflection__row-header">locative</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:locative) %></td>
        </tr>

        <tr>
          <th class="inflection__row-header">vocative</th>
          <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:vocative) %></td>
        </tr>
      </table>
    </div>
  </form>

  <table class="inflection-unified" class="inflection__table">
    <tr class="inflection__row">
      <th class="inflection__row-header">nominative</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:nominative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:nominative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:nominative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:nominative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:nominative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:nominative) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">genitive</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:genitive) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:genitive) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:genitive) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:genitive) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:genitive) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:genitive) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">dative</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:dative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:dative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:dative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:dative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:dative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:dative) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">accusative</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:accusative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:accusative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:accusative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:accusative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:accusative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:accusative) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">instrumental</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:instrumental) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:instrumental) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:instrumental) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:instrumental) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:instrumental) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:instrumental) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">locative</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:locative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:locative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:locative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:locative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:locative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:locative) %></td>
    </tr>

    <tr class="inflection__row">
      <th class="inflection__row-header">vocative</th>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_personal).fetch(:vocative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:masculine_inanimate).fetch(:vocative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:feminine).fetch(:vocative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:singular).fetch(:neuter).fetch(:vocative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:masculine_personal).fetch(:vocative) %></td>
      <td class="inflection__row-data"><%= declination.fetch(:plural).fetch(:non_masculine_personal).fetch(:vocative) %></td>
    </tr>
  </table>
<% end %>
