<main>
  <section class="logo">
    <i class="logo__icon">
      <%= render "shared/logo" %>
    </i>
  </section>

  <%= render "form", view_model: @view_model, klass: "search__container--main" %>

  <section class="onboarding">
    <p>First time here?</p>

    <p>
      Search for a word in any language to find the Polish definition.
      Or try the following examples:
    </p>

    <ul class="tags">
      <%= render "tag", query: "sklep" %>
      <%= render "tag", query: "shop" %>
      <%= render "tag", query: "negozio" %>
    </ul>
  </section>
</main>
