<header>
  <%= form_with url: root_path, method: :get do |form| %>
    <div id="header__autocomplete-container">
      <%= form.text_field :query, placeholder: "word in any language", value: @view_model.query, class: "header__search-input", id: "header__search-input" %>
      <button id="header__clear-button" type="button">
        <i>
          <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" version="1.1" viewBox="0 0 847 847" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd"><g><path class="fil0" d="M423 12c227,0 412,184 412,411 0,227 -185,412 -412,412 -227,0 -411,-185 -411,-412 0,-227 184,-411 411,-411zm0 469l-148 149c-38,38 -96,-20 -58,-58l148 -149 -148 -148c-38,-38 20,-96 58,-58l148 148 149 -148c38,-38 96,20 58,58l-149 148 149 149c38,38 -20,96 -58,58l-149 -149zm0 -449c-216,0 -391,175 -391,391 0,216 175,392 391,392 216,0 392,-176 392,-392 0,-216 -176,-391 -392,-391z"/></g></svg>
        </i>
      </button>
      <ul class="header__result-list"></ul>
      <%= form.button id: 'header__search-button' do %>
        <i>
          <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve"><path d="M87,81.3L69.1,63.4c9-11.7,8.1-28.6-2.7-39.3c-5.9-5.9-13.5-8.8-21.2-8.8s-15.3,2.9-21.2,8.8c-11.7,11.7-11.7,30.7,0,42.4  c5.9,5.9,13.5,8.8,21.2,8.8c6.4,0,12.8-2,18.1-6.1L81.3,87c0.8,0.8,1.8,1.2,2.9,1.2c1,0,2.1-0.4,2.9-1.2  C88.6,85.5,88.6,82.9,87,81.3z M45.3,67.2c-5.9,0-11.3-2.3-15.5-6.4c-8.5-8.5-8.5-22.4,0-31c4.1-4.1,9.6-6.4,15.5-6.4  s11.3,2.3,15.5,6.4s6.4,9.6,6.4,15.5c0,5.9-2.3,11.3-6.4,15.5S51.1,67.2,45.3,67.2z"/></svg>
        </i>
        <span style="display: none;">Translate</span>
      <% end %>
    </div>
  <% end %>
</header>

<% if @view_model.class == NoQueryViewModel %>
  <main>
    <p>First time here?</p>
      Search for a word in any language to find the Polish definition.
      Or try the following examples:</p>
    <ul>
      <li><a href="<%= root_path(query: 'sklep') %>">sklep</a></li>
      <li><a href="<%= root_path(query: 'shop') %>">shop</a></li>
      <li><a href="<%= root_path(query: 'negozio') %>">negozio</a></li>
    </ul>
  </main>
<% end %>

<% if @view_model.class == NotFoundViewModel %>
  <main>
    <h1><%= @view_model.query %></h1>

    <p>Not found.</p>

    <ul>
      <li>If you are looking for a verb, make sure the term is infinitive.</li>
      <li>Otherwise, make sure the term is singular, masculine, and in nominative case.</li>
    </ul>
  </main>
<% end %>

<% if @view_model.class == BablaViewModel %>
  <main>
    <h1 id="corrected-query">
      <%= @view_model.query %>
    </h1>

    <div class="external-links">
      <%= render "external_link", id: "babla", href: @view_model.babla_url, label: "bab.la" %>
    </div>

    <section class="section">
      <h2>Translations</h2>
      <ul>
        <% @view_model.translations.each do |translation| %>
          <li><%= translation %></li>
        <% end %>
      </ul>
    </section>
  </main>
<% end %>

<% if @view_model.class == WiktionaryViewModel %>
  <main>
    <h1 id="corrected-query">
      <%= @view_model.query %>
    </h1>

    <div class="external-links">
      <%= render "external_link", id: "wiktionary", href: @view_model.wiktionary_link, label: "Wiktionary" %>
      <% if @view_model.babla_url.present? %>
        <%= render "external_link", id: "babla", href: @view_model.babla_url, label: "bab.la" %>
      <% end %>
    </div>

    <% if @view_model.parse_result.categories.present? %>
      <section>
        <ul>
          <% @view_model.parse_result.categories.each do |category| %>
            <li><%= category %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @view_model.parse_result.translations.any? %>
      <section class="section">
        <h2>Translations</h2>
        <ul>
          <% @view_model.parse_result.translations.each do |translation| %>
            <li><%= translation %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @view_model.parse_result.examples.any? %>
      <section class="section">
        <h2>Examples</h2>
        <ul>
          <% @view_model.parse_result.examples.each do |example| %>
            <li><%= example %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @view_model.parse_result.images.any? %>
      <section class="section">
        <ul class="images">
          <% @view_model.parse_result.images.each do |image| %>
            <li class="image">
              <figure>
                <img src="<%= image.fetch(:url) %>" alt="<%= image.fetch(:caption) %>"></img>
                <figcaption><%= image.fetch(:caption) %></figcaption>
              </figure>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @view_model.parse_result.declination.present? %>
      <section class="section">
        <%= render "declination", declination: @view_model.parse_result.declination %>
      </section>
    <% end %>

    <% if @view_model.parse_result.conjugation.present? %>
      <section class="section">
        <%= render "conjugation", declination: @view_model.parse_result.declination %>
      </section>
    <% end %>

    <% if @view_model.parse_result.other_translations.present? %>
      <section class="section">
        <h2>From other languages</h2>
        <ul>
          <% @view_model.parse_result.other_translations.each do |language, translations| %>
            <li>
              <%= language %>
              <ul>
                <% translations.each do |translation| %>
                  <li><%= translation %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>
  </main>
<% end %>

<section style="display: none;" id="previous-queries" class="section">
  <h2>Previous Queries <button id="clear-persisted-queries" type="button">Clear</button></h2>
  <ul>
    <li id="template" style="display: none">
      <a href="<%= root_path(query: 'QUERY') %>">QUERY</a>
    </li>
  </ul>
</section>
