<%= form_with url: root_path, method: :get do |form| %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<% if @translations.any? %>
  Translations:
  <ul>
    <% @translations.each do |translation| %>
      <li><%= translation %></li>
    <% end %>
  </ul>
<% end %>

<% if @examples.any? %>
  Examples:
  <ul>
    <% @examples.each do |example| %>
      <li><%= example %></li>
    <% end %>
  </ul>
<% end %>

<% if @images.any? %>
  Images:
  <ul>
    <% @images.each do |image| %>
      <li><img src="<%= image %>"></img></li>
    <% end %>
  </ul>
<% end %>

<% if @declination.present? %>
  Declination:
  <table>
    <tr>
      <th>nominative</td>
      <td><%= @declination.fetch(:nominative_singular) %></td>
      <td><%= @declination.fetch(:nominative_plural) %></td>
    </tr>

    <tr>
      <th>genitive</td>
      <td><%= @declination.fetch(:genitive_singular) %></td>
      <td><%= @declination.fetch(:genitive_plural) %></td>
    </tr>

    <tr>
      <th>dative</td>
      <td><%= @declination.fetch(:dative_singular) %></td>
      <td><%= @declination.fetch(:dative_plural) %></td>
    </tr>

    <tr>
      <th>accusative</td>
      <td><%= @declination.fetch(:accusative_singular) %></td>
      <td><%= @declination.fetch(:accusative_plural) %></td>
    </tr>

    <tr>
      <th>instrumental</td>
      <td><%= @declination.fetch(:instrumental_singular) %></td>
      <td><%= @declination.fetch(:instrumental_plural) %></td>
    </tr>

    <tr>
      <th>locative</td>
      <td><%= @declination.fetch(:locative_singular) %></td>
      <td><%= @declination.fetch(:locative_plural) %></td>
    </tr>

    <tr>
      <th>vocative</td>
      <td><%= @declination.fetch(:vocative_singular) %></td>
      <td><%= @declination.fetch(:vocative_plural) %></td>
    </tr>
  </table>
<% end %>
