<% if @view_model.class == NoQueryViewModel %>
  <%= render "no_query" %>
<% end %>

<% if @view_model.class == NotFoundViewModel %>
  <header>
    <%= render "form", view_model: @view_model, klass: 'search__container--header' %>
  </header>

  <main>
    <h1 class="searched-query"><%= @view_model.query %></h1>

    <p>Not found.</p>

    <p>
      If you are looking for a verb, make sure the term is infinitive.
      <br>
      Otherwise, make sure the term is singular, masculine, and in nominative case.
    </p>
  </main>
<% end %>

<% if @view_model.class == BablaViewModel %>
  <header>
    <%= render "form", view_model: @view_model, klass: 'search__container--header' %>
  </header>

  <main>
    <h1 id="corrected-query" class="searched-query">
      <%= @view_model.query %>
    </h1>

    <div class="external-links">
      <%= render "external_link", id: "babla", href: @view_model.babla_url, label: "bab.la" %>
    </div>

    <section class="translations">
      <h2 class="translations__heading">Translations</h2>
      <ul class="translations__list">
        <% @view_model.translations.each do |translation| %>
          <li class="translations__item"><%= translation %></li>
        <% end %>
      </ul>
    </section>
  </main>
<% end %>

<% if @view_model.class == WiktionaryViewModel %>
  <header>
    <%= render "form", view_model: @view_model, klass: 'search__container--header' %>
  </header>

  <main>
    <h1 id="corrected-query" class="searched-query">
      <%= @view_model.query %>
    </h1>

    <div class="external-links">
      <%= render "external_link", id: "wiktionary", href: @view_model.wiktionary_link, label: "Wiktionary" %>
      <% if @view_model.babla_url.present? %>
        <%= render "external_link", id: "babla", href: @view_model.babla_url, label: "bab.la" %>
      <% end %>
    </div>

    <% if @view_model.parse_result.categories.present? %>
      <section class="categories">
        <ul class="categories__list">
          <% @view_model.parse_result.categories.each do |category| %>
            <li class="categories__item"><%= category %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @view_model.parse_result.translations.any? %>
      <section class="translations">
        <h2 class="translations__heading">Translations</h2>
        <ul class="translations__list">
          <% @view_model.parse_result.translations.each do |translation| %>
            <li class="translations__item"><%= translation %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @view_model.parse_result.examples.any? %>
      <section class="examples">
        <h2 class="examples__heading">Examples</h2>
        <ul class="examples__list">
          <% @view_model.parse_result.examples.each do |example| %>
            <li class="examples__item"><%= example %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @view_model.parse_result.images.any? %>
      <section class="images">
        <ul class="images__list">
          <% @view_model.parse_result.images.each do |image| %>
            <li class="images__list-item">
              <figure class="images__figure">
                <img class="images__image" src="<%= image.fetch(:url) %>" alt="<%= image.fetch(:caption) %>"></img>
                <figcaption class="images__caption"><%= image.fetch(:caption) %></figcaption>
              </figure>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @view_model.parse_result.declination.present? %>
      <section class="inflection">
        <%= render "declination", declination: @view_model.parse_result.declination %>
      </section>
    <% end %>

    <% if @view_model.parse_result.conjugation.present? %>
      <section class="inflection">
        <%= render "conjugation", declination: @view_model.parse_result.declination %>
      </section>
    <% end %>

    <% if @view_model.parse_result.other_translations.present? %>
      <section class="other-languages">
        <h2 class="other-languages__heading">From other languages</h2>
        <ul class="other-languages__list">
          <% @view_model.parse_result.other_translations.each do |language, translations| %>
            <li class="other-languages__item">
              <%= language %>
              <ul class="other-language__list">
                <% translations.each do |translation| %>
                  <li><%= translation %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>
  </main>
<% end %>

<section id="previous-queries" class="previous-queries" style="display: none;">
  <h2 class="previous-queries__heading">
    Previous Queries
    <button id="previous-queries__clear" class="previous-queries__clear" type="button" aria-label="clear previous queries">
      <i>
        <svg class="search__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" version="1.1" viewBox="0 0 847 847" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd"><g><path class="fil0" d="M423 12c227,0 412,184 412,411 0,227 -185,412 -412,412 -227,0 -411,-185 -411,-412 0,-227 184,-411 411,-411zm0 469l-148 149c-38,38 -96,-20 -58,-58l148 -149 -148 -148c-38,-38 20,-96 58,-58l148 148 149 -148c38,-38 96,20 58,58l-149 148 149 149c38,38 -20,96 -58,58l-149 -149zm0 -449c-216,0 -391,175 -391,391 0,216 175,392 391,392 216,0 392,-176 392,-392 0,-216 -176,-391 -392,-391z"/></g></svg>
      </i>
    </button>
  </h2>
  <ul class="tags">
    <%= render "tag", id: "tags__template", query: "QUERY" %>
  </ul>
</section>

<section class="shortcuts">
  <ul class="shortcuts__list">
    <li><kbd class="shortcuts__shortcut-icon">f</kbd><span>Search</span></li>
    <% if @view_model.class == WiktionaryViewModel %>
      <li><kbd class="shortcuts__shortcut-icon">w</kbd><span>Wiktionary</span></li>
      <% if @view_model.babla_url.present? %>
        <li><kbd class="shortcuts__shortcut-icon">b</kbd><span>bab.la</span></li>
      <% end %>
    <% end %>
    <% if @view_model.class == BablaViewModel %>
      <li><kbd class="shortcuts__shortcut-icon">b</kbd><span>bab.la</span></li>
    <% end %>
  </ul>
</section>
