<header>
  <%= form_with url: root_path, method: :get do |form| %>
    <div id="autocomplete" class="autocomplete">
      <%= form.text_field :query, placeholder: "word in any language", value: @view_model.query, class: "autocomplete-input", id: "query" %>
      <button id="reset" type="button">X</button>
      <ul class="autocomplete-result-list"></ul>
    </div>
    <%= form.submit "Go" %>
  <% end %>
</header>

<% if @view_model.class == NoQueryViewModel %>
  <main>
    <p>First time here?</p>
      Search for a word in any language to find the Polish definition.
      Or try the following examples:</p>
    <ul>
      <li><a href="<%= root_path(query: 'sklep') %>">sklep</a></li>
      <li><a href="<%= root_path(query: 'shop') %>">shop</a></li>
      <li><a href="<%= root_path(query: 'negozio') %>">negozio</a></li>
    </ul>
  </main>
<% end %>

<% if @view_model.class == NotFoundViewModel %>
  <main>
    <h1><%= @view_model.query %></h1>

    <p>Not found.</p>

    <ul>
      <li>If you are looking for a verb, make sure the term is infinitive.</li>
      <li>Otherwise, make sure the term is singular, masculine, and in nominative case.</li>
    </ul>
  </main>
<% end %>

<% if @view_model.class == BablaViewModel %>
  <main>
    <h1>
      <span id="corrected-query">
        <%= @view_model.query %>
      </span>
      <span class="small">
        (<a id="babla" href="<%= @view_model.babla_url %>" target="_blank" rel="noopener">bab.la</a> <kbd>b</kbd>)
      </span>
    </h1>

    <section class="section">
      <h2>Translations</h2>
      <ul>
        <% @view_model.translations.each do |translation| %>
          <li><%= translation %></li>
        <% end %>
      </ul>
    </section>
  </main>
<% end %>

<% if @view_model.class == WiktionaryViewModel %>
  <main>
    <h1>
      <span id="corrected-query">
        <%= @view_model.query %>
      </span>
      <% if @view_model.babla_url.present? %>
        <span class="small">
          (<a
             id="wiktionary"
             href="<%= @view_model.wiktionary_link %>"
             target="_blank"
             rel="noopener"
           >Wiktionary</a> <kbd>w</kbd>,
           <a
             id="babla"
             href="<%= @view_model.babla_url %>"
             target="_blank"
             rel="noopener"
            >bab.la</a> <kbd>b</kbd>)
        </span>
      <% else %>
        <span class="small">
          (<a
             id="wiktionary"
             href="<%= @view_model.wiktionary_link %>"
             target="_blank"
             rel="noopener"
          >Wiktionary</a> <kbd>w</kbd>)
        </span>
      <% end %>
    </h1>

    <% if @view_model.parse_result.categories.present? %>
      <section>
        <ul>
          <% @view_model.parse_result.categories.each do |category| %>
            <li><%= category %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @view_model.parse_result.translations.any? %>
      <section class="section">
        <h2>Translations</h2>
        <ul>
          <% @view_model.parse_result.translations.each do |translation| %>
            <li><%= translation %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @view_model.parse_result.examples.any? %>
      <section class="section">
        <h2>Examples</h2>
        <ul>
          <% @view_model.parse_result.examples.each do |example| %>
            <li><%= example %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @view_model.parse_result.images.any? %>
      <section class="section">
        <ul class="images">
          <% @view_model.parse_result.images.each do |image| %>
            <li class="image">
              <figure>
                <img src="<%= image.fetch(:url) %>" alt="<%= image.fetch(:caption) %>"></img>
                <figcaption><%= image.fetch(:caption) %></figcaption>
              </figure>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @view_model.parse_result.declination.present? %>
      <section class="section">
        <%= render "declination", declination: @view_model.parse_result.declination %>
      </section>
    <% end %>

    <% if @view_model.parse_result.conjugation.present? %>
      <section class="section">
        <%= render "conjugation", declination: @view_model.parse_result.declination %>
      </section>
    <% end %>

    <% if @view_model.parse_result.other_translations.present? %>
      <section class="section">
        <h2>From other languages</h2>
        <ul>
          <% @view_model.parse_result.other_translations.each do |language, translations| %>
            <li>
              <%= language %>
              <ul>
                <% translations.each do |translation| %>
                  <li><%= translation %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>
  </main>
<% end %>

<section style="display: none;" id="previous-queries" class="section">
  <h2>Previous Queries <button id="clear-persisted-queries" type="button">Clear</button></h2>
  <ul>
    <li id="template" style="display: none">
      <a href="<%= root_path(query: 'QUERY') %>">QUERY</a>
    </li>
  </ul>
</section>
