<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @view_model.query.empty? ? "" : "#{@view_model.query} | " %>Rictionary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="referrer" content="no-referrer" />
    <meta name="description" content="The Polish dictionary that blows your socks off.">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Lora:wght@400;700&display=swap" rel="stylesheet">

    <%= render 'application/favicon' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="all">
    <div aria-hidden="true" class="hidden" style="font-family: 'Lora'">
      &nbsp;
    </div>

    <div aria-hidden="true" class="hidden" style="font-family: 'Poppins'">
      &nbsp;
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
      <%= yield(:footer_header) %>

      <div class="footer__container">
        <%= image_tag "headshot-riccardo.jpg", class: "footer__headshot", alt: "riccardo making a silly facial expression" %>
        <div class="bubble bubble--right">
          <p class="bubble__text">
            Ciao, I'm
            <a class="bubble__link" target="_blank" rel="noopener" href="https://odone.io">Riccardo</a>
            and I wrote this application to help me study Polish.
          </p>
        </div>
      </div>

      <div class="footer__container">
        <div class="bubble bubble--left">
          <p class="bubble__text">
            Cześć, I'm
            <a class="bubble__link" target="_blank" rel="noopener" href="https://dribbble.com/designaur">Gosia</a>
            and I had a great time helping design this application.
          </p>
        </div>
        <%= image_tag "headshot-gosia.jpg", class: "footer__headshot", alt: "gosia smiling surrounded by artistic decorations" %>
      </div>
    </footer>
  </body>
</html>
