<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @view_model.query.empty? ? "" : "#{@view_model.query} | " %>Rictionary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="referrer" content="no-referrer" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Lora:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div aria-hidden="true" class="hidden" style="font-family: 'Lora'">
      &nbsp;
    </div>

    <div aria-hidden="true" class="hidden" style="font-family: 'Poppins'">
      &nbsp;
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <%= yield(:footer_header) %>

      <div class="container footer__container">
        <%= image_tag "selfie.jpg", class: "selfie" %>
        <div class="bubble">
          <p>
            Ciao, I'm
            <a target="_blank" rel="noopener" href="https://odone.io">Riccardo</a>
            and I wrote this application to help me study Polish.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
